@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    background-color: #292E32;
    min-height: 100vh;
}

.h-400{
    height: 400px !important;
}
span.apexcharts-legend-text {
    color: white !important;
    font-size: 16px !important;
    margin-right: 20PX;
}